<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>dev</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwSS1J5eXfMwYzZgkEOa+Ry1vKS6vzR3hyIxgMbzR9vprz6Ex1gTJUDdAW6pLSpbRYOS4tu12X7/SE3Y2zTh70Xg==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.2">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.1">
      <data class="concurrent-hash-map">
        <entry>
          <string>drone/offboard_ctl_script</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/fix-visualization-depends</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-460</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-dcdc-nuc/update_readme</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-421</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-458</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-457</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-456</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-455</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/testing_04_08</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-459</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>rover/feature%2Fvisual_odometry</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/fix-symlink</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-leddar/rosdep</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/topics</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>auv/pool_may_13</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/jpeg</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-dcdc-nuc/PR-4</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/mux</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-454</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>auv/depth</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/fix_sim_deps</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-425</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-428</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>auv/PR-373</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/stow</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>dev@mcgillrobotics.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>