<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>dev</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw671xExYOd9M8YTp+xgBfanal5ZvrzZVWSfc8zFW0++pkSA1onOsRhlfL52sPKTFMPtapMj8OHV/+GGz9jXGWog==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20">
      <emailAddress>dev@mcgillrobotics.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.1">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.1">
      <data class="concurrent-hash-map">
        <entry>
          <string>ros-interop/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-380</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-interop/pipeline</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-interop/PR-61</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-382</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-tritech-micron/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-381</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-300</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/add_airspeed_check</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/dev</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>rover/PR-239</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>auv/dev</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-349</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/pipeline</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/occ_grid</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>rover/dev</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/build-status</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
  </properties>
</user>