<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>mr</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw8d23+xGnIEJjU7m+iG3TtkAVCLXshZ/C1uNoA7MgdEdcurxeMOVf688MP7WuB5s5nmm7uU4ffrO5wkiXUi3bYw==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20">
      <emailAddress>mr@anassinator.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.1">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.1">
      <data class="concurrent-hash-map">
        <entry>
          <string>ros-interop-frontend/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/mavros-sitl</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-384</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/format-pipeline</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-383</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/lint-no-disable-unknown</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>rover/pipeline</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-388</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-387</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-web-image-view/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-386</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-tritech-micron/pipeline</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/update-submodules</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-dcdc-nuc/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-storm32-gimbal/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/remove-rosserial</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Firmware/stable</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-tritech-micron/PR-5</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>auv/pipeline</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/status-text</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-leddar/PR-7</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-395</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-394</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-leddar/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-393</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-392</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-399</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/format-version</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Firmware/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-dcdc-nuc/pipeline</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/fix-format</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-401</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/format-submodules</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-leddar/sdk3.2</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/no-lint-submodules</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/enforce-format-version</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/format</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-storm32-gimbal/pipeline</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
  </properties>
</user>