<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Anass Al</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwCwbdcnNqvCgMr6YOW4WVL4iNG3sidiXojZQMg/KuVaeSOG9r4u5PSVmOPVoT2MHwjhSfMjtWWGzbj4vbgSy/fw==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <name>blueocean-github-domain</name>
            <description>blueocean-github-domain to store credentials by BlueOcean</description>
            <specifications>
              <io.jenkins.blueocean.rest.impl.pipeline.credential.BlueOceanDomainSpecification plugin="blueocean-pipeline-scm-api@1.5.0"/>
            </specifications>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <list>
            <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
              <scope>USER</scope>
              <id>github</id>
              <description>GitHub Access Token</description>
              <username>anassinator</username>
              <password>{AQAAABAAAAAw+z/vQB08xzgK96uUTb98KMiK91gElOu0qrZs2mQZN+GxaAv0hUmkLbzaF27sbHJKqRv8ZMQPCpfoP7dAZ+g56Q==}</password>
            </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
          </list>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>anassinator@users.noreply.github.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.2">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.1">
      <data class="concurrent-hash-map">
        <entry>
          <string>drone/complete-tf</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>compsys/update-dir</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-leddar/package-2</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-storm32-gimbal/master</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-tritech-micron/PR-6</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/zsh-cursor-fix</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>compsys/clean-up-deps</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/hostname</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/silver-searcher</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/fix-stationary-obstacles</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>Firmware/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-469</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-468</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>Firmware/steering-gain</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-466</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>rover/dev</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/python2-docs</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-leddar/PR-10</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-web-image-view/master</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-leddar/PR-11</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-interop/PR-64</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/gooney3</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/gooney4</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>tools.sh/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-storm32-gimbal/PR-3</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-104</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>tools.sh/sync-init</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>Firmware/status-text</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-dcdc-nuc/PR-5</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-leddar/master</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-interop/PR-63</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-interop/PR-62</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-storm32-gimbal/stow</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>compsys/grip</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-interop/package-2</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-dcdc-nuc/package-2</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-teensy/master</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/obstacle-tracker</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>tools.sh/shellcheck-directive</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-interop-frontend/master</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/viz</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/fix-dir</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-web-image-view/package-2</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/fix-viz</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-442</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>tools.sh/sync-https</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-web-image-view/PR-3</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-interop-frontend/package-2</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/remove-pipenv3</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/bag</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/simplify-vimrc</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/update-tf</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-129</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-interop/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>compsys/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>compsys/zsh-virtualenv</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-interop/download-mission-environ</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/bag-error</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/fix-init</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/shellcheck-directive</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/splines</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-461</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/remove-python3</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-tritech-micron/master</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-463</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-462</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>tools.sh/PR-3</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-142</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>tools.sh/PR-2</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-141</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>tools.sh/PR-1</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/rm-aliases</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-144</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-143</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-140</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/viz-docs</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-146</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-145</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/pipenv</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-interop/offline</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-450</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-453</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-452</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-131</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-447</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-130</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>tools.sh/toc</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-133</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-445</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-storm32-gimbal/package-2</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-444</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-449</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/PR-448</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/mission-info-viz</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/update-planner</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-139</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-138</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-tritech-micron/package-2</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/docs-deps</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-137</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/PR-136</string>
          <boolean>false</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <org.jenkinsci.plugins.GithubAccessTokenProperty plugin="github-oauth@0.29">
      <accessToken>{AQAAABAAAAAwLpZyzeFhCg0VO6d8sHwjrjf7Q2kDscbN4yQ+avU+taRSPySbiJO7d6rS8Iry449jDA+5DZmGlbHkc5DBpl68cA==}</accessToken>
    </org.jenkinsci.plugins.GithubAccessTokenProperty>
  </properties>
</user>