<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Anass Al</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwCwbdcnNqvCgMr6YOW4WVL4iNG3sidiXojZQMg/KuVaeSOG9r4u5PSVmOPVoT2MHwjhSfMjtWWGzbj4vbgSy/fw==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <name>blueocean-github-domain</name>
            <description>blueocean-github-domain to store credentials by BlueOcean</description>
            <specifications>
              <io.jenkins.blueocean.rest.impl.pipeline.credential.BlueOceanDomainSpecification plugin="blueocean-pipeline-scm-api@1.7.1"/>
            </specifications>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <list>
            <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
              <scope>USER</scope>
              <id>github</id>
              <description>GitHub Access Token</description>
              <username>anassinator</username>
              <password>{AQAAABAAAAAw+z/vQB08xzgK96uUTb98KMiK91gElOu0qrZs2mQZN+GxaAv0hUmkLbzaF27sbHJKqRv8ZMQPCpfoP7dAZ+g56Q==}</password>
            </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
          </list>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.63">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>anassinator@users.noreply.github.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.2">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.2">
      <data class="concurrent-hash-map">
        <entry>
          <string>ros-interop-frontend/master</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>auv/dvl-submodule</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-interop/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/mission-generation</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/rviz_altitude</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>compsys/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-leddar/master</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-tritech-micron/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/cw-nav</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-teledyne-navigator/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>compsys/bionic</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>Firmware/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ros-web-image-view/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>auv/PR-377</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-storm32-gimbal/master</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-teensy/master</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>tools.sh/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>rover/dev</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>ros-tritech-micron/baudrate</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>drone/projections</string>
          <boolean>false</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <org.jenkinsci.plugins.GithubAccessTokenProperty plugin="github-oauth@0.29">
      <accessToken>{AQAAABAAAAAw80dBqst/BcktRi+h17ElLU1J5ZE4GRkB2LpDdEBuw5lrkMbUtrGkO5N7CgS6YFcP7+yYF0rnwkrx30pn4cxjjg==}</accessToken>
    </org.jenkinsci.plugins.GithubAccessTokenProperty>
  </properties>
</user>