<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Yasasa Abeysirigoonawardena</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.2">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.63">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.2">
      <data class="concurrent-hash-map">
        <entry>
          <string>drone/fix-obstacle-cost</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/add-airdrop</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/fix-offboard-takeoff</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-562</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-564</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tools.sh/PR-8</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/inc-survey-altitude</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/auvsi-suas2018GSC</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/add-offboard-takeoff</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-559</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-539</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/add-moving-obstacle-avoidance</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-511</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-512</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/bionic</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-519</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/fix-offboard-interface</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/fix-wiggle</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/rename-stuff</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-553</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-496</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-495</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-525</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/fix-takeoff-bug</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-500</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-522</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/revert-553-multimaster_list</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/add-flyzone-cost</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-545</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/multimaster_list</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/add_moving_obstacle_avoidance</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>drone/PR-546</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <org.jenkinsci.plugins.GithubAccessTokenProperty plugin="github-oauth@0.29">
      <accessToken>{AQAAABAAAAAwM7pp9eGe8S1Od5dRu2hmsFC3U8Djy5ob+G91aiVZpcDuOnVRvbKSBvguzvCiJutBQv3RP3PyswlHziQcdzMz0A==}</accessToken>
    </org.jenkinsci.plugins.GithubAccessTokenProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>yasasa.abey@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>